@import "celia.css";
@import "buttons.css";
@import "cards.css";
@import "footer.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    margin: 0;
    font-family: 'Playfair Display', serif;
}

a{
    text-decoration: none;
}

.container {
    width: 85%;
    margin: 24px auto;
    text-align: center;
}

.list-inline>li {
    display: inline;
    margin: 0 48px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.6);
}

.list-inline a {
    color: rgba(0, 0, 0, 0.6);
}